{% extends "index.html" %}

{% block title %}Crew Members{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 1000px) {
        .img-membro{
            width: 100%;
        }
    }    
</style>

<div class="row d-flex justify-content-center">
    <div class="col-lg-6 d-flex justify-content-center">
        <div id="carouselMembers" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                {% for membro in membros %}
                <button 
                    type="button" 
                    data-bs-target="#carouselMembers" 
                    data-bs-slide-to="{{ forloop.counter0 }}"
                    aria-label="Member {{ forloop.counter0 }}" 
                    {% if forloop.counter == 1 %} class="active"  aria-current="true" {% endif %}>
                </button>
                {% endfor %}
            </div>

            <div class="carousel-inner">
                {% for membro in membros %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <img src="{{ membro.image }}" class="d-block img-membro" alt="membro" width="450">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ membro.name }}</h5>
                        <p>{{ membro.agency }}</p>
                        <a href="{{ membro.wikipedia }}">Wikipedia</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMembers" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselMembers" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
</div>

{% endblock %}