{% extends "index.html" %}

{% load static %}

{% block title %}Mars Rover Photos View{% endblock %}

{% block content %}

<h1 translate="no">Mars Rover Photos ({{dados.0.rover_name}})</h1>

<div class="row py-4">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-6 col-lg-4">
                <input class="form-control" type="number" placeholder="Sol" min="1" max="{{ dias }}" name="sol" value={{
                    dados.0.sol }}>

            </div>
            <div class="col-6 col-lg-8">
                <button class="btn btn-primary" translate="no"><i class="bi bi-search"></i> Search</button>
            </div>
        </div>
    </form>
</div>

<div class="row pb-5">
    <span><b>Data na terra:</b> {{dados.0.earth_date}}</span>
    <span>{{ dados.0.sol }}° dia do rover em marte</span>
</div>

<div class="row">

    {% for fotos in dados %}
    <div class="col-12 col-lg-4 pb-4">
        <div class="row text-center">
            <div class="col">
                <a href="{{ fotos.url }}" target="_blank">
                    <img class="w-100" src="{{ fotos.url }}" alt="foto">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="row text-center">
    <a href="">
        <button class="btn btn-outline-primary" title="Voltar ao topo"><i class="fa fa-angle-up"></i></button>
    </a>
</div>


{% endblock %}