#mrpcontent {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    text-align: center;
}

#roverschoices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.roverimg{
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #00000000;
    transition: 0.2s;
    filter: grayscale(80%);
}

.roverimg:hover{
    border: 2px solid rgba(5, 255, 255);
    transition: 0.2s;
    filter: grayscale(0%);
}

#mrpcontentrovers {
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
}

#solpicker{
    text-align: center;
}

#solpickerlabel, #solpicker{
    font-family: "Nasalization";
}

#solpicker:hover,
#solpicker:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff83;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

@media screen and (max-width: 1000px) {
    #roverschoices {
        flex-direction: column;
    }
    .roverimg{
        filter: grayscale(0%)
    }
}